<section class="section">
  <div class="container">
    <h2 class="is-size-2">
      Shortened URL
    </h2>

    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
      <ul>
        <li>
          <%= link_to 'Home', routes.root_path %>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page"><%= url.href %></a>
        </li>
      </ul>
    </nav>

    <div class="content">
      <dl>
        <dt>Original URL</dt>
        <dd><%= link_to url.href, url.href, { target: '_blank' } %></dd>
        <dt>Short URL</dt>
        <dd>
          <%= link_to(
              "#{ENV['BASE_URL']}/#{encoded_id}",
              routes.path(:short_url, encoded: encoded_id),
              { target: '_blank' }
            ) %>
        </dd>
      </dl>
    </div>

    <% if clicks.to_a.any? %>
      <h4 class="is-size-4">
        Clicks per minute - Last 30 minutes
      </h4>
      <section class="section">
        <div id="error"></div>
        <canvas id="chart_canvas"></canvas>
      </section>

      <h4 class="is-size-4">
        Clicks history
      </h4>
      <section class="section">
        <div class="timeline">
          <header class="timeline-header">
            <span class="tag is-medium is-info">Now</span>
          </header>

          <% clicks.each do |click| %>
          <div class="timeline-item">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <p class="heading"><%= click.created_at %></p>
              <div class="content">
                <dl>
                  <dt>Origin (IP - Referral)</dt>
                  <dd class="has-text-grey-light">
                    <%= "#{click.ip}, #{click.referer || 'None'}" %>
                  </dd>
                  <dt>User Agent</dt>
                  <dd class="has-text-grey-light">
                    <%= "#{click.user_agent}" %>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <% end %>

          <div class="timeline-header">
            <span class="tag is-medium is-info">Start</span>
          </div>
        </div>
      </section>

      <%= javascript 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js', integrity: 'sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=' %>
      <%= javascript 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js', integrity: 'sha256-c0m8xzX5oOBawsnLVpHnU2ieISOvxi584aNElFl2W6M=' %>
      <%= javascript 'chart' %>
    <% else %>
      <div class="notification is-info">
        It seems that you don't have any visitors yet.
      </div>
    <% end %>
  </div>
</section>
